<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwayActive">

        <!-- SplashActivity is the entry point of the app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity declaration must be present.
             Use the correct package path here. -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <!-- Add the new RegisterActivity declaration -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <!-- Add the new ForgotPasswordActivity declaration -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Add the new OtpVerificationActivity declaration -->
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:exported="false" />

        <!-- Add the new CreatePasswordActivity declaration -->
        <activity
            android:name=".activities.CreatePasswordActivity"
            android:exported="false" />

        <!-- Add the new OnboardingWelcomeActivity declaration with the corrected package name -->
        <activity
            android:name="com.swayactive.activities.OnboardingWelcomeActivity"
            android:exported="false" />

    </application>
</manifest>
